* {
    margin: 0;
    padding: 0;
}

.page {
    width: 1200px;
    margin: 0 auto;
    font-family: Arial;
    font-size: 16 px;
    font-weight: 400;
    line-height: 24px;
}

.header {
    background-color: #445162;
    color: #ffffff;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.toptitle {
    font-size: 60px;
}

.header-list {
    font-size: 20px;
    list-style-image: url(../img/chechmark.png);
    margin-top: 50px;
    line-height: 40px;
    padding-left: 30px;
}

.header-item {}

.about-product {
    color: #445162;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.product-title {
    font-size: 30px;
    margin-bottom: 40px;
}

.product-property {
    width: 650px;
    padding-right: 80px;
}

.product-text {
    margin-bottom: 20px;
}

.dignity {
    color: #445162;
    padding: 50px;
    justify-content: center;
    background-color: #f5f5f5;
}

.dignity-title {
    text-align: center;
    margin-bottom: 40px;
}

.dignity-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.dignity-item {
    width: 500px;
    position: relative;
    margin-left: 20px;
    padding-bottom: 10px;
}

.dignity-item:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url(../img/icon.png);
    left: -40px;
    top: 5px;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
}

.scrinshots-title {
    color: #445162;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.screen {
    display: flex;
    width: 550px;
    color: #445162;
    margin-left: 40px;
    margin-bottom: 30px;
}

.img-screen {
    margin-right: 20px;
}

.reviews {
    color: #445162;
    padding: 50px;
    justify-content: center;
    background-color: #f5f5f5;
}

.reviews-title {
    text-align: center;
    margin-bottom: 35px;
}

.reviews-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-item {
    display: flex;
    width: 520px;
    position: relative;
    padding-bottom: 10px;
}

.reviews-text {
    margin-left: 20px;
    padding: 10px;
    background: #ebebeb;
    border-radius: 5px;
    position: relative;
}

.reviews-text:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 48px;
    background-image: url(../img/tr.png);
    left: -12px;
}

.sign {
    color: #989898;
}

.buy {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.buy-box {
    background: #445162;
    width: 300px;
    min-height: 310px;
    color: #ffffff;
}

.buy-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #445162;
}

.buy-type {
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 18px;
    text-align: center;
    font-size: 24px;
}

.buy-price {
    font-size: 40px;
    color: #445162;
    background: #fff;
    text-align: center;
    border: 2px solid;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-list {
    list-style: none;
    padding: 10px;
}

.button {
    text-align: center;
    font-size: 20px;
    width: 260px;
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.footer {
    width: 1200px;
    background: #445162;
    margin-top: 50px;
}

.footer-title {
    color: #fff;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.footer-info {
    display: flex;
}

.form {
    margin-left: 250px;
}

.input {
    height: 40px;
    width: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.textarea {
    height: 170px;
    width: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: Arial;
}

::-webkit-input-placeholder {
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
}

::-moz-placeholder {
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
}

:-moz-placeholder {
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
}

:-ms-input-placeholder {
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
}

.feedback-button {
    height: 40px;
    width: 140px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16px;
    margin-bottom: 50px;
}

.contacts-box {
    margin-left: 50px;
}

.list-footer {
    list-style: none;
}

.link-footer {
    text-decoration: none;
    color: #fff;
}

.copyright {
    color: #445162;
    text-align: center;
    font-size: 12 px;
}